<div class="error-msg">
	<% if @user.errors.any? %>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li> 
			<% end %>
		</ul>
		</div> 
	<% end %>
</div>

<h1>Join your peers</h1>
<%= form_for(@user) do |f| %>
	<div class="field">
		<p>Name<p>
		<%=f.text_field :name%>
	</div>
	<div class="field">
		<p>Email<p>
		<%=f.text_field :email%>
	</div>
	<div class="field">
		<p>Password<p>
		<%=f.password_field :password%>
	</div>
	<div class="field">
		<p>Confirm Password</p>
		<%= f.password_field :password_confirmation%>
	</div>
	<div class="actions">
		<%=f.submit%>
	</div>
<%end%>
