<table>
	<tr>
		<td>Department</td>
		<td>Topic</td>
		<td>Materials/Inspiration</td>
		<td>Desired Instructor</td>
		<td>Idea Creator</td>
		<td>Number of students who want</td>
	</tr>
	<%= @course.each do |course| %>
	<tr>
		<td><%= course.department %></td>
		<td><%= course.topic %></td>
		<td><%= course.desired_material %></td>
		<td><%= course.desired_instructor %></td>
		<td><%= course.user.name %></td>
		<td><%= course.num_users_interested %></td>
	</tr>
	<% end %>
</table>
