<head>

	<style>
	tbody > tr {
		cursor: pointer;
	}

	table {
		margin-left: 15% ;
	}

	</style>

</head>
<body>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Votes</th>
			<th>Department</th>
			<th>Topic</th>
			<th>Possible Instructor</th>
			<th>Idea Creator</th>
		</tr>
	</thead>
		<% @courses_weird.each do |course| %>
	<tbody>
		<%= link_to(@course) do %>
		<tr onclick="location.href='<%= course_path(course.id) %>'">
			<td><%= "#{course.votes_for}"%></td>
			<td><%= course.department %></td>
			<td><%= course.topic %></td>
			<%if course.desired_instructor == nil %>
				<td>Unsure</td>
			<% else %><%if @course.desired_instructor == "" %>
				<td>Unsure</td>
			<% else %>
				<td><%= course.desired_instructor %></td>
			<%end%>
			<% end %>
			<%if course.user == nil %>
				<td>N/A</td>
			<% else%>
				<td><%=  course.user.name %></td>
			<%end%>
			<td><%= link_to "See more", course_path(course.id), class: "btn btn-warning btn-small", :style => "vertical-align: center; color: #fff;" %></td>
		</tr>
		<% end %>
	</tbody>
	<% end %>
</table>
</body>
