<table>
	<tr>
		<td><strong>Department</strong></td>
		<td><strong>Topic</strong></td>
		<td><strong>Materials/Inspiration</strong></td>
		<td><strong>Desired Instructor</strong></td>
		<td><strong>Idea Creator</strong></td>
	</tr>
	<%= @courses.each do |course| %>
	<tr>
		<td><%= course.department %></td>
		<td><%= course.topic %></td>
		<td><%= course.desired_material %></td>
		<td><%= course.desired_instructor %></td>
		<td><%= course.user.name %></td>
	</tr>
	<% end %>
</table>
