<head>

	<style>
	tbody > tr {
		cursor: pointer;
	}

	table {
		margin-left: 5% ;
	}

	table > tbody > tr > td {
		overflow: hidden;
		height: 40px;
	}

	.table {
		table-layout: fixed;
	}


	.box_background {
		text-align: center;
		margin-left: 10%;

	}

	body {
	}

	.box_wrappers {
		display: inline-block;
  		background-color: rgba(99, 182, 145, 0.95);
  		border-radius: 3px;
  		padding: 2px;
  		padding-top: 15px;
  		margin: 0 15%;
  }
  	.sort_by_box {
  		position: absolute;
  		margin: 0 6%;
  		background-color: rgba(99, 182, 145, 0.95);
  		border-radius: 3px;
  		padding: 3px;
  		padding-top: 15px;

  	}

  	.sort_by_box > h5 {
  		font-size: 10pt;
  		font-weight: bold;
  		text-align: center;
  	}

  	.sort_by_box > p {
  		font-size: 9pt;
  		font-weight: bold;
  		padding: 0 5px;
  		text-align: right;
  		margin-bottom: 0px;
  		margin-top: 0px;
  		color: #666;
  	}

	</style>

</head>
<body>

<div class= "box_background">
<h2>Course ideas</h2>
<h4>Click on any of the ideas to see a description and to vote</h4>
</div>

</br>
</br>
<div class="sort_by_box">
	<h5>SORT BY</h5>
	<p><%= link_to "Newest", scoped_path("by_newest") %></p></br>
	<p><%= link_to "Department", scoped_path("by_dept") %></p></br>
	<p><%= link_to "Most Votes", scoped_path("top") %></p></br>
	<p><%= link_to "Editor's Picks", scoped_path("editor_picks") %></p></br>
	<p><%= link_to "Weirdness", scoped_path("weird") %></p></br>
</div>
<div class="box_wrappers">
<table class="table table-hover span11">
	<col width="55px" />
    <col width="105px" />
    <col width="420px" />
    <col width="150px" />
    <col width="150px" />
    <col width="100px" />
	<thead>
		<tr>
			<th style="text-align:center">Votes</th>
			<th style="text-align:center">Department</th>
			<th>Topic</th>
			<th>Possible Instructor</th>
			<th>Idea Creator</th>
		</tr>
	</thead>
		<% @courses.each do |course| %>
	<tbody>
		<%= link_to(@course) do %>
		<tr onclick="location.href='<%= course_path(course.id) %>'">
			<td style="text-align:center"><%= "#{course.votes_for}"%></td>
			<td style="text-align:center"><%= course.department %></td>
			<td><%= course.topic %></td>
			<%if course.desired_instructor == nil %>
				<td>Unsure</td>
			<% else %><%if course.desired_instructor == "" %>
				<td>Unsure</td>
			<% else %>
				<td><%= course.desired_instructor %></td>
			<%end%>
			<%end%>
			<%if course.user == nil %>
				<td>N/A</td>
			<% else%>
				<td><%=  course.user.name %></td>
			<%end%>
			<td style="border-top: 2px solid rgba(99, 182, 145, 1)"><%= link_to "See more", course_path(course.id), class: "btn btn-warning btn-small", :style => "vertical-align: center; color: #fff; float:center" %></td>
		</tr>
		<% end %>
	</tbody>
	<% end %>
</table>
</div>
</body>
