<!DOCTYPE html>

<head>
</head>

<body>
	<div>
		<h2><%= @course.department %></h2>
		<h2><%= @course.topic %></h2>
		<p><strong>IDEATOR:</strong> <%= @course.user.name %></p>
		<p><strong>DESCRIPTION:</strong> <%= @course.description %></p>
		<p><strong>DESIRED INSTRUCTOR: </strong><%= @course.desired_instructor %></p>
		<%= pluralize @votes.reputation_value_for(:votes).to_i, "vote" %>
			<% if current_user && !current_user.voted_for?(course) %>
			  | <%= button_to "REQUEST", vote_course_path(course, type: "up"), method: "post" %>
			<% end %>
		<%= course.total_votes %>
	</div>
</body>
