<!DOCTYPE html>

<head>
</head>

<body>
	<div>
		<h2><%= @course.department %></h2>
		<h2><%= @course.topic %></h2>
		<p><strong>IDEATOR:</strong> <%= @course.user.name %></p>
		<p><strong>DESCRIPTION:</strong> <%= @course.description %></p>
		<p><strong>DESIRED INSTRUCTOR: </strong><%= @course.desired_instructor %></p>
		<%= "Students requesting: #{@course.votes_for}" %>
		<%= button_to "VOTE", vote_up_course_path(@course.id), class: "btn btn-success" %>
	</div>
</body>
