<head>
</head>

<body style= "background-image:url(https://dl.dropboxusercontent.com/u/45843110/prof_huge_chalk_board_bw_1.jpg)">
<h1>Hello there!</h1>
<p>This will be an app for crowdsourcing </br>
	student ideas and demand for college courses. </br> Check out these cool tables:<p>
	<ol>
		<li>Users</li>
		<ul>
			<li><%= link_to "index", users_path %></li>
			<li><%= link_to "new", new_user_path %></li>
		</ul>

		<li>Courses</li>
		<ul>
			<li><%= link_to "index", courses_path %></li>
			<li><%= link_to "new", new_course_path %></li>
		</ul>

		<li>Reference Info</li>
		<ul>
			<li><%= link_to "index", penn_reference_infos_path %></li>
		</ul>
	</ol>

</body>

