<head>

  <style>
  .hero-unit {
  	margin-top: 40px;
  	margin-bottom: 80px;
    border-radius: 3px;
    background-color: rgba(238, 238, 238, 0.7);
  }

  .hero-unit > h3 {
  	color: #6D6E6D;
  }

  .box_wrappers {
  	display: inline-block;
  	background-color: rgba(99, 182, 145, 0.95);
  	border-radius: 3px;
  	padding: 2px;
  	width: 30%;
  	margin-left: 32px;
  	margin-bottom: 60px;
  }
  .box_wrappers > h3 {
  	text-align: center;

  }

  .row > .box_wrappers > p > .btn {
  	margin-left: 36%;
  }

  .table {
  	width: 90%;
  	margin-left: 5%;
  	border-color: rgba(238, 238, 238);
  	table-layout: fixed;
  }

  tbody > tr {
	cursor: pointer;
	overflow: hidden;
  }

  table td {
  	overflow: hidden;
  	max-height: 80px;
  	height: 80px;
  }





  </style>

</head>

<body style= "background-image:url(https://dl.dropboxusercontent.com/u/45843110/prof_huge_chalk_board_bw_2.jpg);">
	<div class="container">
	  <div class="hero-unit">
	  	<img src="https://dl.dropboxusercontent.com/u/45843110/wharton_logo_50.png" alt="Wharton logo">
	  	</br>
	  	</br>
	    <h1>Submit & Vote on Ideas for New Wharton Courses</h1>
	    <h3>DueCourse is a new tool for Wharton undergrads, MBAs, and professors.</h3>
	    </br>
	    <!--<p style="font-family:helvetica;font-weight:thin;font-size:24px;line-height:23pt;padding:10px 0px">Let’s bring our course ideas to life.</p>-->
	    <p><a class="btn btn-warning btn-large" style="color:#fff" <%= link_to "Create Course Idea »", new_course_path %></></a>    <%= link_to "More about DueCourse", landing_pages_about_path, :style => "display:inline-block", :class => "btn btn-link btn-large" %></p>
	  </div>
	  	<div class="row">
        	<div class="box_wrappers">
	          <h3>Editor's picks</h3>
	          <div>
	          	<table class="table table-hover table-bordered">
	          		<col width="33px" />
					<col width="33px" />
					<col width="64px" />
					<col width="50px" />
					<thead>
						<tr>
							<th>Votes</th>
							<th>Dept.</th>
							<th>Topic</th>
							<th>Ideator</th>
						</tr>
					</thead>
					<% @courses_editor.each do |course| %>
					<tbody>
						<%= link_to(@course) do %>
						<tr onclick="location.href='<%= course_path(course.id) %>'">
							<td style="text-align:center"><%= "#{course.votes_for}"%></td>
							<td style="text-align:center"><%= course.department %></td>
							<td><%= course.topic %></td>
							<%if course.user == nil %>
								<td>N/A</td>
							<% else%>
								<td><%=  course.user.name %></td>
							<%end%>
						<%end%>
						<%end%>
						</tr>
					<tbody>
					</tbody>
				</table>
	          </div>
	          <p><a class="btn" <%= link_to "See more", scoped_path("editor_picks") %></></a></p>
	        </div>
	        <div class="box_wrappers">
	          <h3>Top ideas</h3>
	          <div>
	          	<table class="table table-hover table-bordered">
	          		<col width="33px" />
					<col width="33px" />
					<col width="64px" />
					<col width="50px" />
					<thead>
						<tr>
							<th>Votes</th>
							<th>Dept.</th>
							<th>Topic</th>
							<th>Ideator</th>
						</tr>
					</thead>
					<% @courses_top.each do |course| %>
					<tbody>
						<%= link_to(@course) do %>
						<tr onclick="location.href='<%= course_path(course.id) %>'">
							<td style="text-align:center"><%= "#{course.votes_for}"%></td>
							<td tstyle="text-align:center"><%= course.department %></td>
							<td><%= course.topic %></td>
							<%if course.user == nil %>
								<td>N/A</td>
							<% else%>
								<td><%=  course.user.name %></td>
							<%end%>
						<%end%>
						<%end%>
						</tr>
					</tbody>
				</table>
	          </div>
	          <p><a class="btn" <%= link_to "See more", scoped_path("top") %></></a></p>
	       </div>
	        <div class="box_wrappers">
	          <h3>Weirdest ideas</h3>
	          <div>
	          	<table class="table table-hover table-bordered">
	          		<col width="33px" />
					<col width="33px" />
					<col width="64px" />
					<col width="50px" />
					<thead>
						<tr>
							<th>Votes</th>
							<th>Dept.</th>
							<th>Topic</th>
							<th>Ideator</th>
						</tr>
					</thead>
					<% @courses_weird.each do |course| %>
					<tbody>
						<%= link_to(@course) do %>
						<tr onclick="location.href='<%= course_path(course.id) %>'">
							<td style="text-align:center"><%= "#{course.votes_for}"%></td>
							<td style="text-align:center"><%= course.department %></td>
							<td><%= course.topic %></td>
							<%if course.user == nil %>
								<td>N/A</td>
							<% else%>
								<td><%=  course.user.name %></td>
							<%end%>
						<%end%>
						<%end%>
					</tbody>
				</table>
	          </div>
	          <p><a class="btn" <%= link_to "See more", scoped_path("weird") %></></a></p>
	        </div>
	      </div>
	  	</div> 
	</div>
    </div> 
</body>
