<head>

	<style>
	tbody > tr {
		cursor: pointer;
	}

	table {
		margin-left:5%;
		table-layout: fixed;
	}
	</style>


</head>
<body>
<table class="table table-hover">
	<col width="55px" />
	<col width="55px" />
	<col width="55px" />
    <col width="105px" />
    <col width="300px" />
    <col width="100px" />
    <col width="100px" />
    <col width="500px" />
    <col width="100px" />
    <col width="80px" />
    <col width="80px" />
    <col width="130px" />
    <col width="130px" />

	<thead>
		<tr>
			<th>Editor pick</th>
			<th>Weird</th>
			<th>Votes</th>
			<th>Deptartment</th>
			<th>Topic</th>
			<th>Possible Instructor</th>
			<th>Idea Creator</th>
			<th>Description</th>
			<th>ADMIN CONTROLS</th>
		</tr>
	</thead>
		<% @courses.each do |course| %>
	<tbody>
		<%= link_to(@course) do %>
		<tr onclick="location.href='<%= course_path(course.id) %>'">
			<td><%= course.editor_pick %></td>
			<td><%= course.weird %></td>
			<td><%= "#{course.votes_for}"%></td>
			<td><%= course.department %></td>
			<td><%= course.topic %></td>
			<td><%= course.desired_instructor %></td>
			<%if course.user == nil %>
				<td>N/A</td>
			<% else%>
				<td><%=  course.user.name %></td>
			<%end%>
			<td><%= course.description %></td>
			<td><%= link_to "Edit", edit_course_path(course.id) %></td>
			<td><%= button_to "Destroy", course, :confirm => "Are you sure you want to destroy this course?", method: :delete, class: "btn btn-danger btn-small" %></td>
			<td><%= button_to "Vote Up", vote_up_course_path(course.id), class: "btn btn-default btn-small" %></td>
			<td><%= button_to "Make Editor's Pick", {:controller => "courses", :action => "set_editor_pick", :id => course.id}, class: "btn btn-default btn-small" %></td>
            <td><%= button_to "+1 Weirdness", {:controller => "courses", :action => "set_weird", :id => course.id}, class: "btn btn-default btn-small" %></td> 
		</tr>
		<% end %>
	</tbody>
	<% end %>
</table>
</body>
