<!DOCTYPE html>
<html>
<head>
  <title>DueCourse</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/2.3.0/css/bootstrap.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style>
  body {
    padding-top: 0;
  }

  .navbar-inverse .navbar-inner {
    background-color: #63B691;
    background-image: -moz-linear-gradient(top, #63B691, #3E8462);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#63B691), to(#3E8462));
    background-image: -webkit-linear-gradient(top, #63B691, #3E8462);
    background-image: -o-linear-gradient(top, #63B691, #3E8462);
    background-image: linear-gradient(to bottom, #63B691, #3E8462);
    background-repeat: repeat-x;
    border-color: #3E8462;
    }

    .navbar-inverse .nav > li > a {
    color: #333333;
    }

    .navbar-inverse .brand {
    color: #333333;
    }

    .navbar-inverse .brand:hover {
    text-decoration: none;
    background-color: transparent;
    }

    .yield_container {
    background-color: rgba(230, 230, 230, 0.90);
    position: absolute;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 155px;
    height: 70%;
    }
    
    .navbar-inverse .nav {
    }

    .navbar-inverse .brand {
      font-weight: 800;
    }

    .container {
    }

    .yield {
      padding: 0 auto 0 auto;
    }

  </style>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45807840-1', 'duecourse.org');
  ga('send', 'pageview');

</script>


</head>
<body style= "background-image:url(https://dl.dropboxusercontent.com/u/45843110/prof_huge_chalk_board_bw_2.jpg);">
<div class="yield_container">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">DueCourse</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
          	<%= link_to "About", landing_pages_about_path %>
          </li>
          <li>
          	<%= link_to "Vote", courses_path %>
          </li>
          <li>
          	<%= link_to "Submit Idea", new_course_path %>
          </li>
        </ul>
        <form class="navbar-form pull-right">
          <% if !user_signed_in? %>
            <button type="link" class="btn"><%= link_to "Sign Up", new_user_path %></button>
            <button type="link" class="btn"><%= link_to "Sign In", user_session_path %></button>
          <% end %>
          <% if user_signed_in? %>
          <ul class="nav">
            <li style="color:white"><%= link_to 'Logout', destroy_user_session_path, :method => :delete %> </li>
          </ul>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</div>

<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

<div class="yield span8 offset2"><%= yield %></div>

</div>
</body>
</html>
