<!DOCTYPE html>
<html>
<head>
  <title>DueCourse</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/2.3.0/css/bootstrap.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style>
  body {
    padding: 100px 40px 10px;
 
  }
  </style>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">DueCourse</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
          	<a href="/">About</a>
          </li>
          <li>
          	<%= link_to "Vote", courses_path %>
          </li>
          <li>
          	<%= link_to "Submit Idea", new_course_path %>
          </li>
        </ul>
        <form class="navbar-form pull-right">
          <% if !user_signed_in? %>
            <button type="link" class="btn"><%= link_to "Sign Up", new_user_path %></button>
            <button type="link" class="btn"><%= link_to "Sign In", user_session_path %></button>
          <% end %>
          <% if user_signed_in? %>
          <ul class="nav">
            <li style="color:white"><%= link_to 'Logout', destroy_user_session_path, method: :delete %> </li>
          </ul>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</div>

<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

<%= yield %>


</body>
</html>
