<h1>Reference Info for Penn</h1>

<table>
  <tr>
    <th>Department</th>
    <th>Instructor firstname</th>
    <th>Instructor lastname</th>
  </tr>

<% @penn_reference_infos.each do |refInfo| %>
  <tr>
    <td><%= refInfo.department %></td>
    <td><%= refInfo.instructor_firstname %></td>
    <td><%= refInfo.instructor_lastname %></td>
    <td><%= link_to 'Show Instructor', penn_reference_info_path(refInfo.id) %></td>
    <td><%= link_to 'Edit Instructor', edit_penn_reference_info_path(refInfo.id) %></td>
    <td><%= button_to 'Destroy Instructor', refInfo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
