<h1>Add Reference Info for Penn</h1>

<%= form_for(@user) do |f| %>
	<div class="field">
		<p>Instructor First Name<p>
		<%=f.text_field :instructor_firstname %>
	</div>
	<div class="field">
		<p>Instructor Last Name<p>
		<%=f.text_field :instructor_lastname %>
	</div>
	<div class="field">
		<p>Instructor Department<p>
		<%=f.text_field :department %>
	</div>
	<div class="actions">
		<%=f.submit%>
	</div>
<%end%>