<head>

<style>
	body {
		margin-left: 15%;
	}
	
</style>

</head>
<body>
	<h2>Hey there! Welcome back.</h2>
</br>
<h3>Sign In</h3>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %><span class="help-inline" style="margin-bottom:10px; margin-left:5px; color:#A2A2A3">Must be @wharton.upenn.edu</span></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me, :style => "margin-bottom: 5px;" %><%= f.label :remember_me, :style => "display: inline; margin-left: 10px;"%></div>
  <% end -%>

  <div><%= f.submit "Sign in", class: "btn btn-warning", :style => "margin-top:10px;" %></div>
<% end %>

</br>
<%= render "devise/shared/links" %>
</body>
